# ===========================================
# НАСТРОЙКИ АДМИНКИ ДЛЯ ПРОДАКШЕНА
# ===========================================

# URL API (основной сервер с API)
NEXT_PUBLIC_API_URL=https://odostavka.online/api

# Домен для изображений
NEXT_PUBLIC_API_DOMAIN=odostavka.online
